<div>
      <ul class="results_by_source">
  <% sourcesByCategory.forEach((source) => {          %>
     <li class="source">
     <h4>Source: <%= source.name %><h4>
     <p>Description: <%= source.description %></p>
     <a href="/sources/<%= source.id %>/articles">View Articles</a>
     <img src="<%= source.urlsToLogos.small %>" alt=""/>
     <p>Country: <%= source.country %></p>
     </li>
      <form class="save-favorites" action="/favorites" method="post">
       <input type="hidden" name="favorite[name]" value="<%= source.name %>">
       <input type="hidden" name="favorite[logo]" value="<%= source.urlsToLogos.small %>">
        <input type="hidden" name="favorite[id]" value="<%= source.id %>">
       <input type="submit" value="Save Source To Favorites">
      </form>
  <% }); %>
  <ul>
</div>
