<!DOCTYPE html>
<html>
<head>
  <title>My Favorites</title>
  <% include ../shared/head %>

</head>
<body>
  <% include ../shared/header %>
  <h1>favorites</h1>
  <div class="favorites">
   <h3><%# favorites.length %> Favorites</h3>

   <% for (let i = 0; i < favoritesExtended.length; i++) { %>
      <div class="favorite">
        <img src="<%= favoritesExtended[i].logo %>" alt=""/>
        <h4><%= favoritesExtended[i].name %></h4>
        <input type="hidden" name="articlesApiUrl" value="<%= favoritesExtended[i].articlesApiUrl %>">
        <a href="<%= favoritesExtended[i].articlesUrl %>">View articles</a>
        <div class="articles"></div>
        <button class="delete btn btn-primary" data-id="<%= favoritesExtended[i]._id %>">Remove</button>
      </div>
    <% }; %>
  </div>

</body>
</html>
