<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <% include ../shared/head %>

</head>
<body>

  <h1><%= articles.source %></h1>
  <ul class="results_by_source">
  <% articles.articles.forEach((article) => {          %>
     <li class="article">
     <h4><%= article.title %><h4>
     <p><%= article.description %></p>
     <a href="<%= article.url %>" target="_blank">Read full article</a>
     <img src="<%= article.urlToImage %>" alt="<%= article.title %>"/>
     <p><%= article.publishedAt %></p>
     </li>
  <% }); %>
  <ul>

  <a href="/favorites">My Newspaper</a>


</body>
</html>
