<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <% include ../shared/head %>
</head>

<body>
  <div class="landing">
    <% include ../shared/header %>
    <a id="mynews" href="/favorites">View My Newspaper</a>

    <div class="articles">
      <h1><%= articles.source %></h1>
      <h2>Latest News</h2>
      <div class="articles-container">
      <% articles.articles.forEach((article) => {          %>
         <div class="article">
           <img src="<%= article.urlToImage %>" alt="<%= article.title %>"/>
           <div class="article-container">
             <h4><b><%= article.title %></b></h4>
             <p><%= article.description %></p>
             <a href="<%= article.url %>" target="_blank">Read full article</a>
           </div>
         </div>
      <% }); %>
      </div>
    </div>
  </div>



</body>
</html>
